{% extends 'base.html.twig' %}
{% block title %}WhognaWin - Création match{% endblock %}

{% block body %}
    <h1>Créer un match</h1>
<div class="form-group">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Créer" />
    {{ form_end(form) }}
    </div>
    <a class="form-control btn btn-primary" href="{{ path('game_index') }}">Retour a la liste</a>
{% endblock %}
