{% extends 'base.html.twig' %}
{% block title %}WhognaWin - Création d'un joueur{% endblock %}
{% block body %}
    <h1>Créer un joueur</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="form-control btn btn-primary" type="submit" value="Créer" />
    {{ form_end(form) }}

    <a class="form-control btn btn-primary" href="{{ path('player_index', {'gender': 'Male'}) }}">Retour a la liste des joueurs</a>

{% endblock %}
