{% extends 'base.html.twig' %}

{% block body %}
    <h1>Player creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Créer" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('player_index') }}">Retour a la liste des joueurs</a>
        </li>
    </ul>
{% endblock %}
