<form method="GET" action="{{ path('search_player_by_name_result') }}">
<div id="search_box">
    <input type="text" name="playerName" placeholder="Nom du joueur" />
    <input type="submit">
</div>
    </form>