{% extends 'base.html.twig' %}

{% block body %}
    <br/>
    <div class="alert alert-dismissible alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Attention!</h4>
        <p class="mb-0">Le nom dans le champ doit etre assez proche du vrai nom</p>
    </div>

<form method="GET" action="{{ path('search_player_by_name_result') }}">

    <legend>Recherche des matchs</legend>
    <div class="form-group">
        <input type="text" name="playerName" placeholder="Nom du joueur" class="form-control" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">le résultat de cette recherche n'est pas enregistré</small>
    </div>

    <input class="btn btn-primary" type="submit">
    </form>

{% endblock %}